@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CWSWeb.Models.Error>
@{
    if (Model.ErrorCode != "")
    {
        ViewBag.Title = Model.ErrorCode;
    }
    else
    { 
        ViewBag.Title = "Error";
    }
    Layout = "layout.cshtml";
}
<p class="message">@{
    if (Model.ErrorMessage != "")
    { 
        @Model.ErrorMessage;
    }
    else
    { 
        @:Something bad happened :(
    }
}</p>
@if (Model.ErrorCode == "403" && CWSWeb.Helper.CachedVariables.PremiumslotsEnabled)
{ 
    <p class="message"><a href="@Url.Content("~/premium/")" class="premium">Click here, if you are looking for the premium player login.</a></p>
}