h3:target {
    color:  #2ba6cb;
}

.orbit-slides-container li img {
    margin: 0.3em auto;
}

.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4.date {
    color: #2284a1;
    font-weight: lighter;
}

img.profile {
    margin: 0.4em;
}

p code, li code {
    display: inline-block;
    color: #7f0a0c;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

div ul:not([class])
{
    list-style-type: square;
    padding-left: 1.5em;
}

div.fixed nav.top-bar
{
    margin-bottom: 0px;
}

.gsc-control-cse  * {
 -moz-box-sizing: content-box !important;
 -webkit-box-sizing: content-box !important;
 box-sizing:  content-box !important;
}

.gsc-control-cse input {
 box-shadow: none !important;
}

.gsc-control-cse input:focus {
    outline: none;
}

.gsc-control-cse table {
 border: none;
 background: transparent;
 vertical-align: middle;
}

.gsc-input-box, .gsc-search-box .gsc-input>input, .gsc-input-box-hover {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
 margin-bottom: 0px;
 margin-top: 0px;
 height: 100%;
}
