<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ><!--<![endif]-->
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="{{ page.keywords }}" />
	    <title>{{ page.title }}</title>

        <link rel="stylesheet" href="{{ site.baseurl }}css/foundation.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/rainbow.css">

        <script src="{{ site.baseurl }}js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <div class="contain-to-grid sticky">
            <nav class="top-bar">
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="{{ site.baseurl }}">CWSRestart</a>
                        </h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="{{ site.baseurl }}news">News</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site.baseurl }}pages/gettingstarted.html">Getting started</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site.baseurl }}pages/faq.html">FAQ</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site.baseurl }}pages/manual/">Manual</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site.baseurl }}pages/gallery.html">Screenshots</a></li>
                        <li class="divider"></li>
                        <li class="has-dropdown">
                            <a>Modules</a>
                            <ul class="dropdown">
                                <li><a href="{{ site.baseurl }}pages/modules/cwsweb.html">CWSWeb</a></li>
                                <li><a href="{{ site.baseurl }}pages/modules/mitm.html">CubeWorldMITM</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ site.baseurl }}pages/contact.html">Contact</a></li>
                        <li class="divider"></li>
                        <li></li>
                    </ul>
                </section>
            </nav>
        </div>
        <div>{{ content }}</div>
        <div class="row">
            <div class="large-12 columns"><gcse:search></gcse:search></div>
        </div>
        {% if page.modal != nil %}
        {{ page.modal | replace:'%BASEURL%',site.baseurl }}
        {% endif %}
        <script>
        document.write('<script src=' +
        ('__proto__' in {} ? '{{ site.baseurl }}js/vendor/zepto' : '{{ site.baseurl }}js/vendor/jquery') +
        '.js><\/script>')
        </script>
        <script src="{{ site.baseurl }}js/foundation.min.js"></script>
        <script src="{{ site.baseurl }}js/foundation/foundation.orbit.js"></script>
        <script src="{{ site.baseurl }}js/foundation/foundation.reveal.js"></script>
        <script src="{{ site.baseurl }}js/foundation/foundation.magellan.js"></script>
        <script src="{{ site.baseurl }}js/rainbow-custom.min.js"></script>
        <script>
            $(document).foundation();
            Rainbow.color();
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42314518-1', 'chrisk91.github.io');
            ga('send', 'pageview');
        </script>
        <script>
            (function() {
                var cx = '006324111106527928200:usp30nxudw8';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
    </body>
</html>